@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");
:root {
  --bg-color: #002349;
  --lightblue: #b3c2ca;
  --darkblue: #00162d;
  --blue: #129bff;
  --bluehover: #1e6699;
  --panel-bg: #c2e3ec;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  min-width: 375px;
  overflow-x: hidden;
}
html {
  position: relative;
  min-height: 100%;
}
h1 {
  color: var(--darkgrey);
}

ul {
  list-style-type: none;
}
ul li {
  text-decoration: none;
}

.container {
  display: flex;
}

/* buttons -- start */
.primarybtn button {
  width: 100px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  background: var(--blue);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #00162d;
  cursor: pointer;
}
.secondarybtn button {
  width: 100px;
  align-items: center;
  justify-content: center;
  color: #002349;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  background: var(--lightblue);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #00162d;
  cursor: pointer;
}

/* buttons --end */

/* HEADER -- Start */
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  border-bottom: 1px solid;
  z-index: 900;
  overflow-x: hidden;
}
.header .logo {
  display: flex;
  position: relative;
  margin-left: 50px;
  align-items: center;
  width: 100%;
  max-height: 70px;
}
.header .logo img {
  position: fixed;
  max-height: 50px;
  margin-right: 15px;
  margin-left: 30px;
  pointer-events: none;
}
.header .logo h1 {
  position: fixed;
  max-height: 70px;
  margin-right: 0px;
  margin-left: 100px;
  color: #ffffff;
}
.header .essentials {
  width: 280px;
  position: fixed;
  right: 0;
  text-align: right;
  margin-right: 20px;
}
.header .essentials h5 {
  position: relative;
  color: #ffffff;
}
/* HEADER -- End */

/* SIDE PANEL -- Start */
.sidebar {
  position: fixed;
  background-color: #fff;
  justify-content: left;
  width: 250px;
  height: 100vh;
  padding: 10px 0 0 8px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid var(--darkblue);
  transition: width 0.3s ease;
  z-index: 1000;
}

.sidebar .user {
  background-color: #f4f4f4;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: width 0.3s ease;
}

.sidebar .user img {
  margin-left: 10px;
  height: 50px;
  border-radius: 40px;
}

.sidebar .user .username {
  position: fixed;
  padding-left: 80px;
}

.menus {
  margin-top: 15px;
  width: 93%;
  position: absolute;
}
.menus ul li {
  height: 40px;
  padding: 5px 5px 0 5px;
  justify-content: left;
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.menus ul li p {
  position: fixed;
  padding-left: 40px;
  margin-top: 4px;
  font-size: 15px;
  width: 180px;
  text-decoration: none;
  color: #00162d;
  text-shadow: 0 1px 3px #708091;
}
.active {
  background: #d2dae5;
}
.menus .icon {
  height: 30px;
  margin-left: 5px;
  font-size: 25px;
  color: var(--bg-color);
  cursor: pointer;
}

.sidebar .logout {
  position: absolute;
  bottom: 10px;
  height: fit-content;
  width: 90%;
  text-align: center;
}

.sidebar .logout button {
  width: 80%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  background: var(--blue);
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0px 1px 3px #00162d;
  cursor: pointer;
}
.sidebar .logout .icon {
  font-size: 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}
.sidebar .logout button:hover {
  color: #b3c2ca;
  background: #0c5e99;
}

.wiper {
  position: absolute;
  display: flex;
  top: 75%;
  right: -20px;
  font-size: 35px;
  z-index: 5;
  background: #00162d;
  border: 2px solid #00162d;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.wiper .arrow {
  color: #ffffff;
}

.sidebar.collapsed {
  width: 50px;
  height: 100vh;
  position: fixed;
}
.sidebar.collapsed .menus .icon {
  margin-left: 0;
}
.sidebar.collapsed .menus li p {
  display: none;
}
.sidebar.collapsed .active {
  background: #d2dae5;
  width: fit-content;
}

.sidebar.collapsed .user {
  height: 30px;
}
.sidebar.collapsed .user .username {
  display: none;
}
.sidebar.collapsed .user img {
  margin-left: 0px;
  height: 30px;
  border-radius: 40px;
}
.sidebar.collapsed .logout button {
  display: none;
}
.sidebar.collapsed .logout .icon {
  font-size: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--bg-color);
  visibility: none;
}

.wiper.rotated {
  transform: rotate(180deg); /* Rotate the icon */
}
/* SIDE PANEL -- End */

/* MAIN PANEL -- Start*/
.MainPanel {
  float: right;
  padding-top: 70px;
  padding-left: 50px;
  position: relative;
  width: 100%;
  min-width: 375px;
  background: #ffffff;
  overflow: hidden;
}
.PanelWrapper {
  background: #ffffff;
  min-height: 100vh;
  overflow: hidden;
}
.PanelWrapper h1 {
  text-align: center;
}
.PanelHeader {
  display: flex;
  background: #fafafa;
  border-bottom: 1px solid var(--darkblue);
  width: 100%;
  height: 40px;
  overflow: hidden;
  justify-content: space-between;
}
.PanelHeader .scanner {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}
.PanelHeader .scanner button {
  display: flex;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: none;
  background: none;
  border: 1px solid #00162d;
  color: #00162d;
  text-decoration: none;
}
.PanelHeader .scanner button:hover {
  background: #d2ddea;
  border: 1px solid #00162d;
  color: #00162d;
}
.PanelHeader .scanner .qrIcon {
  font-size: 25px;
}
.PanelHeader .scanner button p {
  font-size: 16px;
  width: 100px;
  text-decoration: none;
}

.PanelHeader p {
  font-size: 20px;
  font-weight: 600;
}

.PanelHeader .filter {
  display: flex;
  width: fit-content;
  height: 100%;
  padding: 5px;
  align-items: center;
  margin-left: 20px;
}
.PanelHeader .viewusers p {
  width: 125px;
}
.PanelHeader .search {
  display: flex;
  height: 100%;
  padding: 5px;
  margin-right: 15px;
  align-items: center;
}
.PanelHeader .search .search-bar {
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
}
.PanelHeader .search .search-border {
  padding: 2.5px 10px 2.5px 8px;
  display: flex;
  border: 1.5px solid var(--darkblue);
  border-radius: 15px;
}
.PanelHeader .search .search-border .searchIcon {
  font-size: 22px;
}
.AddUserHeader {
  display: flex;
  background: #fafafa;
  border-bottom: 1px solid var(--darkblue);
  width: 100%;
  height: 50px;
  align-items: center;
  overflow-x: hidden;
  justify-content: space-between;
  padding-left: 50px;
}
.scannerIcon {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  margin-left: 5px;
  text-decoration: none;
}

.scannerIcon.secondarybtn button {
  width: auto;
  display: flex;
  box-shadow: none;
  background: none;
  border: 1px solid #00162d;
  color: #00162d;
  text-decoration: none;
}
.scannerIcon.secondarybtn button .qrIcon {
  margin: 2px;
  font-size: 25px;
}
.scannerIcon.secondarybtn button:hover {
  background: #d2ddea;
  border: 1px solid #00162d;
  color: #00162d;
}

/* MAIN PANEL -- End */

/* ADD USER FORM -- Start */
.FormWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}
.AddUserForm {
  height: fit-content;
  /* width: 800px;
  display: flex; */
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.FormText {
  width: 300px;
  position: relative;
}
.FormText .input-new {
  width: 300px;
  margin-bottom: 10px;
  height: 30px;
}
.FormText p {
  text-align: left;
}
.input-new input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: #ebf1f5;
  border: none;
  outline: none;
  border: 2px solid #00162d;
  border-radius: 15px;
  padding: 10px;
  padding-left: 15px;
}
.input-new select {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: #ebf1f5;
  outline: none;
  border: 2px solid #00162d;
  border-radius: 15px;
  padding-left: 5px;
}

.img-upload {
  width: 260px;
  height: 350px;
  margin: 20px 20px 20px 50px;
}
.img-upload input {
  display: flex;
  cursor: pointer;
  background: #0c5e99;
  font-size: 16px;
  color: white;
}
.img-upload .uploadimage {
  display: flex;
  margin: auto;
}
.adduserbuttons {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  padding-top: 15px; /* adjusted from 35px*/
}
.SubmitButton button {
  width: 100px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  background: var(--blue);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #00162d;
  cursor: pointer;
}
.ClearButton button {
  width: 100px;
  align-items: center;
  justify-content: center;
  color: #002349;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  background: var(--lightblue);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #00162d;
  cursor: pointer;
}
/* ADD USER FORM -- End */

/* FOOTER -- Start */
.FooterContainer {
  width: 100%;
  height: 300px;
  border-top: 1px solid #00162d;
  background: #00162d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: auto;
  flex-direction: column;
}
.FooterContainer .FooterWrapper {
  width: fit-content;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.FooterContainer .FooterWrapper .company img {
  max-height: 120px;
  min-height: 50px;
  margin: 0px 10px 0px 10px;
  pointer-events: none;
}
.FooterContainer .FooterWrapper .company {
  color: #ffffff;
}
.FooterContainer .FooterWrapper .credits {
  color: #ffffff;
  font-size: 15px;
}
.LowerFooter {
  width: 100vw;
  height: 20px;
  background: #002349;
  display: none; /* Should be FLEX */
  justify-content: space-around;
  align-items: center;
}
.LowerFooter p {
  font-size: 10px;
}
/* FOOTER -- End */

/* -------------------------------------- */
.qr-reader {
  width: 430px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.qr-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qr-reader .qr-box {
  width: 100% !important;
  left: 0 !important;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip {
  position: absolute;
  top: calc(-100% - -100%);
  transform: translateX(40%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
  display: flex;
  text-align: center;
  justify-content: center;
  min-width: 100px;
  font-size: 11px;
}

/* Media Queries for mobile screens */
@media (max-width: 426px) {
  .qr-reader {
    width: 100%;
  }
}
/* -------------------------------------- */

/* MEDIA QUERIES -- Start */
@media screen and (max-width: 770px) {
  .header .logo h1 {
    display: none;
  }
  .header .essentials h5 {
    font-size: 16px;
  }
}

/* Login Page Media query for very small screens, e.g., tablets, mobile phones */
@media screen and (max-width: 570px) {
  .PanelHeader .scanner {
    display: none;
  }
  .header .logo h1 {
    display: none;
  }
  /* .essentials h5 {
    font-size: large;
  } */
  .header .logo img {
    margin-left: 10px;
  }
  .AddUserForm {
    display: inline-block;
  }
  .img-upload {
    margin: auto;
  }
  .FormText {
    margin: auto;
  }
  .adduserbuttons {
    margin: auto;
    position: relative;
    padding-top: 20px;
  }
  .PanelHeader .search {
    margin-right: 0;
  }
}
@media screen and (max-width: 490px) {
  .PanelHeader .search .search-bar {
    width: 150px;
  }
  .FooterWrapper .credits p {
    font-size: 11px;
  }
  .PanelHeader .scanner p {
    font-size: 20px;
    font-weight: 600;
    width: 100px;
  }
  .scannerIcon.secondarybtn {
    visibility: visible;
  }
  .sidebar {
    height: 100%;
    transform: 0.1s ease;
  }
  .sidebar.collapsed {
    height: 100%;
  }
  .FooterContainer .FooterWrapper .company h2 {
    width: 300px;
  }
  .AddUserHeader {
    height: 40px;
    padding-left: 10px;
  }
  .AddUserHeader h2 {
    font-size: 15px;
  }
}
/* @media screen and (max-width: 380px) {
  .essentials h5 {
    font-size: 16px;
  }
} */
@media screen and (min-width: 570px) {
  .scannerIcon.secondarybtn {
    display: none;
  }
}
