.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-position-x: center;
  background-image: url("../assets/doctrack-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

.formlogin {
  /* margin-top: 50px; */
  text-align: right;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  margin: 0 50px;
  height: 100vh;
  max-width: 350px;
  color: #002349;
}
.wrapper h1 {
  text-wrap: wrap;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  background: rgb(232, 240, 254);
  margin: 30px 0;
  border: solid 1px #00162d;
  border-radius: 5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #002349;
  padding: 0px 45px 0px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.input-box input::placeholder {
  color: #002349;
}

.input-box .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
.input-box .icon.eye {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-40%);
  font-size: 25px;
  cursor: pointer;
}
.loginBtn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
  height: 40px;
  background: #129bff;
  border: none;
  outline: none;
  border-radius: 23px;
  box-shadow: 0px 1px 1px #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.loginBtn:hover {
  background: #0c5e99;
}
.head {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0px 20px 0px 20px;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  border-bottom: 1px solid;
  z-index: 900;
  overflow: hidden;
  justify-content: space-between;
}
.head .comp {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  max-height: 70px;
}
.head img {
  display: flex;
  height: 50px;
  margin-left: 10px;
  pointer-events: none;
}
.head .comp h1 {
  display: flex;
  max-height: 70px;
  margin-right: 10px;
  color: #ffffff;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popuplogsuccess {
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
  height: auto;
  color: #00162d;
  background: #ffffff;
  z-index: 11111;
  /* transform: translate(25px, 10px); */
}
.popuplogsuccess p {
  margin-bottom: 5px;
  height: 20px;
  align-self: center;
  font-weight: 600;
  width: max-content;
  display: flex;
}
@media screen and (max-width: 800px) {
  .container {
    background-position-x: 20%;
  }
  .head .comp h1 {
    font-size: 18px;
    transition: 0.2s ease-in-out;
  }
  .wrapper {
    max-width: 300px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    background-position-x: right;
  }
}
@media screen and (max-width: 490px) {
  .head {
    padding: 0;
  }
  .formlogin {
    text-align: center;
  }
  .formlogin h1 {
    font-size: 42px;
  }
}

/* Landing Page CSS */
.container-landing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-position-x: center;
  background-image: url("../assets/doctrack-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}
.signIn {
  margin: 80px 35px 0 0;
  text-align: right;
  max-width: 500px;
}
.signIn h1 {
  text-align: right;
  color: #002349;
  margin-bottom: 15px;
  font-size: 48px;
}
.signIn button {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  background: #129bff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0px 1px 1px #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.signIn button:hover {
  background: #0c5e99;
}
@media screen and (max-width: 800px) {
  .container-landing {
    background-position-x: 20%;
  }
  .signIn {
    max-width: 300px;
  }
}
@media screen and (max-width: 545px) {
  .container-landing {
    background-position-x: right;
  }
}
@media screen and (max-width: 430px) {
  .container-landing {
    justify-content: center;
  }
  .signIn h1 {
    text-align: center;
  }
  .signIn {
    margin: 80px 0 0 0;
    text-align: center;
    max-width: 300px;
  }
}
