.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position-x: center;
  background-image: url("../assets/kabankalan-background-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.formlogin {
  margin-top: 50px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 15px 70px 15px;
  height: 100vh;
  /* min-width: 320px; */
  color: #002349;
}

.wrapper h3 {
  color: #ffffff;
  text-align: center;
  /* text-shadow: 1px 0 5px #787878; */
}
.wrapper h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px #787878;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 42px;
  background: rgb(232, 240, 254);
  margin: 30px 0;
  border-radius: 16px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #002349;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 20px 45px 20px 20px;
  font-size: 18px;
}

.input-box input::placeholder {
  color: #002349;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
.loginBtn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 45px;
  background: #129bff;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0px 1px 1px #ffffff;
  cursor: pointer;
}
.loginBtn:hover {
  color: #b3c2ca;
  background: #0c5e99;
}
.head {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0px 20px 0px 20px;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  border-bottom: 1px solid;
  z-index: 900;
  overflow: hidden;
  justify-content: space-between;
}
.head .comp {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  max-height: 70px;
}
.head img {
  display: flex;
  height: 50px;
  margin-left: 10px;
}
.head .comp h1 {
  display: flex;
  max-height: 70px;
  margin-right: 10px;
  color: #ffffff;
}
@media screen and (max-width: 490px) {
  .head {
    padding: 0;
  }
  .head .comp h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 510px) {
  .head .comp h1 {
    font-size: 16px;
  }
}
