.view-doc-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
}

.doc-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.doc-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.doc-header img {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.docu-info-head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 15px;
  width: 100%;
}
.doc-information {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.view-document {
  font-size: 15px;
}
.docu-qrcode img {
  height: 100%;
  width: 200px;
  border: 1px solid #000;
}

.filter.vd {
  margin-left: 10px;
}
.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #00162d;
  box-shadow: none;
  background: #fff;
  border: none;
  border-radius: 15px;
  margin-right: 15px;
  cursor: pointer;
  overflow: hidden;
}
.back-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}
.back-icon {
  font-size: 20px;
  font-weight: bold;
}
.back-btn:hover {
  background: #d4d4d4;
}

.docu-logs {
  display: flex;
}
.docu-logs thead {
  border-top: none;
  background: #fff;
}
.docu-logs tr:hover {
  background: #fff;
  cursor: text;
}
.docu-logs tbody td {
  font-size: 15px;
}

.print-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.print-btn button {
  width: 90px;
  height: 25px;
  color: #ffffff;
  box-shadow: none;
  border: none;
  background: #004895;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
}
.pagination-controls {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}
.pagination-controls .next-btn,
.prev-btn {
  margin: 0 5px;
  display: flex;
  align-items: center;
  background: #00366f;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 3px;
  cursor: pointer;
}
.pagination-controls .prev-btn:disabled {
  background: #686868;
}
.pagination-controls .next-btn:disabled {
  background: #686868;
}
.pagination-controls span {
  font-size: 14px;
}
.logList-container .docFilter-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.profile-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.display-user-info {
  width: 1000px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 20px;
}
.view-user-info {
  width: 500px;
}
.user-fullname {
  font-size: 30px;
  font-weight: 700;
  max-height: 40px;
}
.user-position {
  font-size: 18px;
  font-weight: 600;
}
.change-pass {
  width: 250px;
  padding: 5px 0;
  margin-top: 20px;
  border-top: 1px solid #000;
}
.change-pass input {
  height: 100%;
  width: 100%;
  font-size: 15px;
  background: #ebf1f5;
  border: none;
  outline: none;
  border: 2px solid #00162d;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 5px;
}
.password-container {
  position: relative;
}
.toggle-password {
  font-size: 14px;
  cursor: pointer;
  color: #000000;
  user-select: none;
  margin-bottom: 5px;
}
.toggle-password:hover {
  color: #333;
}
.savePass-btn button {
  height: 30px;
  padding: 5px;
  border: 1px solid #4a6583;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: #004cff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.savePass-btn button:hover {
  background: #aaaaaa;
  border: 1px solid #aaaaaa;
  color: #000;
}
.logo-user-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
  background: #002349;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  opacity: 80%;
  transition: ease 0.4s;
}
.logo-user-container img {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin: 70px;
  transition: ease 0.4s;
}
@media screen and (max-width: 730px) {
  .logo-user-container {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .display-user-info {
    width: 350px;
  }
  .view-user-info .user-fullname {
    font-size: 25px;
  }
  .logo-user-container img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media screen and (max-width: 1240px) {
  .logo-user-container img {
    max-width: 250px;
    max-height: 250px;
  }
}
@media screen and (min-width: 1440px) {
  .logo-user-container {
    justify-content: center;
  }
  .display-user-info {
    width: 1500px;
    padding-left: 75px;
  }
  .logo-user-container img {
    max-width: 500px;
    max-height: 500px;
  }
}
